################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Book_embedding/Debug/vc140.pdb
/Book_embedding/Debug/vc140.idb
/Book_embedding/Debug/stepfunction.obj
/Book_embedding/Debug/randomstepfun.obj
/Book_embedding/Debug/neighbourhood.obj
/Book_embedding/Debug/localsearch.obj
/Book_embedding/Debug/kpmp_solution_writer.obj
/Book_embedding/Debug/kpmp_instance.obj
/Book_embedding/Debug/first_improvement.obj
/Book_embedding/Debug/constructionheuristic.obj
/Book_embedding/Debug/Book_embedding.tlog/link.write.1.tlog
/Book_embedding/Debug/Book_embedding.tlog/link.read.1.tlog
/Book_embedding/Debug/Book_embedding.tlog/link.command.1.tlog
/Book_embedding/Debug/Book_embedding.tlog/CL.write.1.tlog
/Book_embedding/Debug/Book_embedding.tlog/CL.read.1.tlog
/Book_embedding/Debug/Book_embedding.tlog/CL.command.1.tlog
/Book_embedding/Debug/Book_embedding.tlog/Book_embedding.lastbuildstate
/Book_embedding/Debug/Book_embedding.tlog
/Book_embedding/Debug/Book_embedding.pdb
/Book_embedding/Debug/Book_embedding.log
/Book_embedding/Debug/Book_embedding.ilk
/Book_embedding/Debug/Book_embedding.exe
/Book_embedding/Debug/bestimprovement.obj
/Book_embedding/Debug
/Book_embedding/Book_embedding.vcxproj.filters
/Book_embedding/Book_embedding.vcxproj
/Book_embedding/Book_embedding.VC.VC.opendb
/Book_embedding/Book_embedding.VC.db
/Book_embedding/Book_embedding.sln
/Book_embedding/.vs/Book_embedding/v14/.suo
/Book_embedding/.vs/Book_embedding/v14
/Book_embedding/Book_embedding.vcxproj.user
/Book_embedding/Release/vc140.pdb
/Book_embedding/Release/stepfunction.obj
/Book_embedding/Release/randomstepfun.obj
/Book_embedding/Release/neighbourhood_vertex.obj
/Book_embedding/Release/neighbourhood.obj
/Book_embedding/Release/localsearch.obj
/Book_embedding/Release/kpmp_solution_writer.obj
/Book_embedding/Release/kpmp_instance.obj
/Book_embedding/Release/first_improvement.obj
/Book_embedding/Release/constructionheuristic.obj
/Book_embedding/Release/Book_embedding.tlog/link.write.1.tlog
/Book_embedding/Release/Book_embedding.tlog/link.read.1.tlog
/Book_embedding/Release/Book_embedding.tlog/link.command.1.tlog
/Book_embedding/Release/Book_embedding.tlog/CL.write.1.tlog
/Book_embedding/Release/Book_embedding.tlog/CL.read.1.tlog
/Book_embedding/Release/Book_embedding.tlog/CL.command.1.tlog
/Book_embedding/Release/Book_embedding.tlog/Book_embedding.lastbuildstate
/Book_embedding/Release/Book_embedding.pdb
/Book_embedding/Release/Book_embedding.log
/Book_embedding/Release/Book_embedding.ipdb
/Book_embedding/Release/Book_embedding.iobj
/Book_embedding/Release/Book_embedding.exe
/Book_embedding/Release/bestimprovement.obj
